.login-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.card{
  border-radius: 1rem; 
  background-color: #ffffff; 
  color: #485B8C;
}

h2, p{
  color: #485B8C;
}

.form-control{
  background-color: #ffffff; 
  color: #485B8C; 
  border: 1px solid #485B8C;
}

.loginBtn{
  background-color: #485B8C; 
  font-weight: bold;
  color: white; 
  border: none;
}

.forgot-password{
  text-decoration: none;
  color: #A0A0A0;
}

.back-icon {
  position: absolute;
  top: 20px; 
  left: 20px;
  color: #485B8C;
  font-size: 1.2rem;

  &:hover {
    color: darken(#485B8C, 10%);
    text-decoration: none;
  }
}

.card {
  position: relative;
  border-radius: 1rem; 
  background-color: #ffffff; 
  color: #485B8C;
}


